
# System Data & Artifacts
data/
wandb/
__pycache__/
*.pyc

# Heavy Models (Only track source code)
models/*.pt
models/*.pth
*.onnx

# Logs & Temp
*.log
*.tmp
backups/
error_log.txt
training_log.txt

# Environment
.env
.venv
venv/

# Visual Studio Code
.vscode/

# Web Dashboard
dashboard/node_modules/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm/
